@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 50px;
  /* adjust this value to match the height of your footer */
}

.footer {
  margin-top: 5%;
  height: 40px;
}

.foot-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foot-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec {
  margin-top: 5px;
}

.cont {
  display: flex;
  flex-direction: column;
}

.spage {
  margin-top: 2%;
}

.table {
  /* width: 500px; */
  margin-top: 4%;
  padding: 0 15%;
  /* padding-right: 15%; */

}

.studp {
  /* height: 50px; */
  background-color: #243b55;
}

.atbt,
th,
td {
  text-align: center;
  color: #ffffff;
}

.main {
  height: 100vh;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ic {
  margin-bottom: 2px;
  padding-bottom: 1px;
}

.footer {
  position: relative;
  bottom: 35%;
  top: 35%;
  bottom: 0;
  left: 0;
  width: 100%;
  /* padding: 20px; */
}

.heading {
  color: #ffffff;
}

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.btn-box {
  margin-top:2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 250px;
  max-width: fit-content;
  height: 50px;
  margin: 10px;
  text-align: center;
  font-weight: 600;
}

.home-btn {
  max-width: 250px !important;
}

.search-bar {
  margin-top: 3%;
  margin-bottom: -2%;
  width: 400px;
  text-align: left;
  border-radius: 5px;
  height: 40px;
}

.search-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-title {
  color: #ffffff;
  text-align: center;
}

.date-time {
  margin: 10px;
}

.main-btn {
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  /* cursor: pointer; */
}

.table-head {
  margin-top: 5%;
  color: #ffffff;
  letter-spacing: 1px;
}

.atd-info {
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.load-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.info-title {
  color: gray;
}

#demo-simple-select-helper-label{
  color: black;
}

.dropzone {
  width: 400px;
  height: 250px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5%;
  background-color: rgb(64, 107, 127);
}
.up-btn{
  margin-top: 20px;
  align-items: center;
  /* margin-left: 48px; */
}
.title-font{
  font-size: 25px;
}
.upload-title{
  color: aqua;
  margin: 4%;
}
.scan-title{
  color: aqua;
  padding: 20px;
}
.up-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  /* margin-top: 10%; */
}

.up-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.up-btn-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
  ;
}

.pt-btn {
  max-width: 200px;
}

.pt-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.pt-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pt-title {
  margin-top: 10%;
  color: white;
}

.pt-text {
  color: black;
  width: 100px;
}

.def-table {
  margin-top: 1%;
  border: 4px solid black;
  width: 90%;
}
.def-table th,
.def-table td {
  border: 2px solid black;
}

.gray-cell {
  background-color: #d3d3d3; /* Change this to the desired shade of gray */
}

.print-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dwn-btn {
  margin-top: 1% !important;
  height: 40px;
}

.def-list {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.def-list-title {
  margin-top: 2%;
}